header, nav,section,footer{
  background-color: #ddd;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5px;
  box-sizing: border-box;
  webkit-box-sizing:border-box;
  padding: 10px;
  font: 100% arial;
  color: #555;
  
}
header{
  height: 150px;
}
nav,footer{
  height: 50px;
}

section{
  height: 350px;
}


@media screen and (max-width:700px){
  header,nav,section,footer{
    background-color: lightgreen;
  }
}

@media screen and (max-width:400px){
  header,nav,section,footer{
    background-color: lightblue;
  }
}