*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    font-family: verdana;
    font-size: 100%;
    color: #fff;
}
.container{
    width: 1200px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}
nav{
    background-color: #555;
    width: 300px;
    height: 500px;
    box-sizing: border-box;
    padding: 10px;
    float: left;
}
section{
    background-color: #fff;
    color: #333;
    width: 870px;
    height: 500px;
    margin-left: 10px;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

ul.menu{
    list-style-type: none;
}

ul.menu li{
    width: 250px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: #777;
    margin-top: 5px;
    cursor: pointer;
}
ul.menu li:hover{
    background-color: #888;
}

.btn{
    width: 120px;
    height: 30px;
    border: 1px solid #ddd;
}
.salvar{
    background-image: url(../imagens/salvar2.jpeg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: 25px;
    color: black;
    background-color: #3ce650;
    cursor:pointer;
    
}
.limpar{
    background-image: url(../imagens/desfazer.png);
    background-size: 25px;
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-color: #3178bf;
    color: black;
    cursor:pointer;
    
}

.excluir{
    background-image: url(../imagens/excluir2.jpeg);
    background-position: 10% 50%;
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: #d03030;
    color: black;
    cursor:pointer;
}
.campo{
    width: 200px;
    height: 30px;
    border-radius: 25px;
    margin-top: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

